@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
/* Reset Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
}

body{
    font-family: "Vazir", "Urbanist", sans-serif;
}