/* ================================
   Desktop
================================ */
@media screen and (min-width: 992px) {

    /* Container */
    .header__container {
        max-width: 1320px;
        margin: 0 auto;
    }

    /* Actions */
    .header__actions {width: 70%;}

    /* Hamburger */
    .header__hamburger {display: none;}

    /* Navigation */
    .header__navigation
    ,.header__navigation.active {
        position: static;
        width: auto;
        height: auto;
        overflow: visible;
        background-color: transparent;
        transform: none;
        transition: none;
    }

    /* Menu Header */
    .header__menu-header {
        display: none;
        padding: 0;
    }

    /* Menu */
    .header__menu {
        flex-direction: row;
        gap: 35px;
        padding: 0;
        align-items: center;
    }

    /* Menu Link */
    .header__menu-link {
        padding-right: 0;
        color: #343f52;
    }

    /* Menu Link Hover */
    .header__menu-link:hover {color: rgb(96, 93, 186);}


    /* ================================
        Hero
    ================================ */
    .hero{
        display: flex;
        width: 100%;
        max-width: 1470px;
        margin: 0 auto;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .hero__container{
        width: 50%;
        padding-top: 100px;
        padding-right: 5rem;
    }

    /* ================================
        Hero Title
    ================================ */
    .hero__title{
        font-size: 46px;
    }

    /* ================================
        Hero Description
    ================================ */
    .hero__description{font-size: 23px;}

    /* ================================
        Hero Submit Button
    ================================ */
    .hero__button{
        width: 20%;
        margin: 0;
        align-self: flex-end;
    }
    /* ================================
        Hero Picture
    ================================ */
    .hero__picture{
        width: 48%;
        padding-top: 2rem;
    }

    /* ================================
       Footer Container
    ================================ */
    .footer__container{
        max-width: 1320px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* ================================
        Copyright && Credit
    ================================ */
    .footer__copyright , .footer__credit{padding-bottom: 0;}
}

