/* ================================
   Global Styles
================================ */
html {
    scrollbar-width: thin;
    scrollbar-color: #605DBA transparent;
}

body {
    font-family: "Vazir", "Urbanist", sans-serif;
    background-color: #FEFEFE;
    font-size: 17px;
}

/* ================================
   Scrollbar
================================ */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #605DBA;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #4f4ca3;
}